{% extends "page.html.twig" %}
{% block call_libs %}
  {{ attach_library('deixa_que_eu_conto/page-front') }}
{% endblock %}

{% block page_main %}
  {% block page_main_content %}
    <section class="gray-section ">
      <div class="container-lg busca-home">
        <span class="criancas" data-aos="fade-up" data-aos-delay="400"
            data-aos-duration="1000"></span>
        <span class="rocket" data-aos="fade-up-right" data-aos-delay="1000"
            data-aos-duration="1200"></span>
      {{ drupal_entity('block', 'buscahome') }}
      </div>
    </section>
    <section class="gerais">
      <div class="container-xl home-gerais">
        <span class="kite" data-aos="fade-up" data-aos-delay="400"
            data-aos-duration="1000"></span>
        <span class="hero" data-aos="fade-up-right" data-aos-delay="1000"
            data-aos-duration="1200"></span>
        <div class="row">
          <div class="col-xl-12 header">
            <h2>Gerais</h2>
            <p>São 96 programas realizados pelas contadoras Carol levy e Kiara Terra, que trazem histórias da cultura popular e histórias mundialmente conhecidas.</p>
          </div>
          <div class="col-xl-12">
            {{drupal_view('programas','gerais')}}
          </div>
        </div>
      </div>
    </section>
    <section class="amazonia">
      <div class="container-xl home-amazonia">

        <div class="row">
          <div class="col-xl-12 header">
            <h2>Amazônia</h2>
            <p>São os 48 programas realizados pelos contadores Leandro Medina e Andrea Soares que trazem histórias da cultura popular e tradicional dos povos indígenas, quilombolas e ribeirinhos. </p>
          </div>
          <div class="col-xl-12">
            {{drupal_view('programas','amazonia')}}
          </div>
        </div>
      </div>
    </section>
    <section class="afro">
    <span class="bailarina" data-aos="fade-up-right" data-aos-delay="1000"
            data-aos-duration="1200"></span>
      <div class="container-xl home-afro">

        <div class="row">
          <div class="col-xl-12 header">
            <h2>Afro-Brasileiro</h2>
            <p>
São os 42 programas realizados pelas contadoras: Vovó Cici de Oxalá, Kemla Baptista, Mafuane Oliveira, Samara Rosa, Suane Brazão e pelo contador: Ivamar dos Santo que trazem histórias de resgate e empoderamento indentitário do povo preto.</p>
          </div>
          <div class="col-xl-12">
            {{drupal_view('programas','afro_brasileiro')}}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
{% endblock %}
